<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateView Class</title>
</head>
<body>
        <center>
                {% if form.instance.pk %}
                    <h1>Updating a School Form by using UpdateView</h1>
                {% else %}
                    <h1>Creating a School Form by using CreateView</h1>
                {% endif %}
            


            <form  method="POST">
                {% csrf_token %}
                    
                    {{form.as_p}}

                {% if form.instance.pk %}
                    <input type="submit" value="update">
                {% else %}
                    <input type="submit" value="create">
                {% endif %}

                
            </form>

        

        </center>
</body>
</html>